.badge {background-color:tomato; border-radius:15px; display:flex; justify-content:center; align-items:center; width:30px; height:30px; color:#fff; font-weight:600;}
.nav__notification {position:absolute; left:15px; bottom:15px;}
.nav__dot {position:absolute; left:30px; bottom:30px; background-color:tomato; border-radius:3px; width:6px; height:6px;}